<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul Class="navegacion">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="./aboutMe.html">ABOUT ME</li>
                <li><a href="./curriculum.html">CURRICULUM</a></li>
                <li><a href="#">TRAIN WITH ME</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </header>
<main>
    <section>
            <div>
                  <h1>TRAIN WITH ME</h1>
                  <h2>MONTHLY TRAINING AND DANCE PLANS</h2>
            </div>
        <section class="cuadricula">
            <div class=" caja caja1">
                  <h3>ONCE A WEEK</h3>
                <div>
                  <img src="../img/pareja.jpeg" alt="pareja" class="img-training">
                </div>
                <div>
                 <p class="parrafo">240.000 VIRTUAL OPRESENCIAL</p>
                </div>
            </div>
            <div class="caja caja2">
                   <h3>TWICE A WEEK</h3>
                <section>
                     <img src="../img/plancha-pole.jpeg" alt="plancha-pole" class="img-training">
                </section>
                <div>
                  <p class="parrafo">340.000 VIRTUAL OPRESENCIAL</p>
                </div>
            </div>
            <div class="caja caja3">
                   <h3>THREE TIMES A WEEK</h3>
                <section>
                     <img src="../img/cabeza-abajo.jpeg" alt="cabeza-abajo" class="img-training">
                </section>
                <div>
                   <p class="parrafo">440.000 VIRTUAL OPRESENCIAL</p>
                </div>
            </div>
            <div class="caja caja4">
                   <h3>FOUR TIMES A WEEK</h3>
                <div>
                   <img src="../img/pole.jpeg" alt="pole" class="img-training">
                </div>
                <div>
                   <p class="parrafo"> VIRTUAL O PRESENCIAL 480.000</p>       
                </div>
            </div>          
                  <div class="caja caja5">                  
                   <h3 class="grupales">GROUP CLASSES</h3>
                  </div>
            <div class="filas2">
             <div class="caja caja6">  
                  <h4>HIDROTERAPIA</h4>
                <section>
                     <img src="../img/HIDRO.jpeg" alt="HIDRO" class="img-grupal">
                </section>
               <div>
                  <p class="parrafo">80.000 POR HORA</p>
                </div>
             </div>
            </div> 
            <div class="caja caja7">  
                   <h4>SEXY DANCE</h4>
                <section>
                     <img src="../img/bailarinas.jpeg" alt="BAILARINAS" class="img-grupal">
                </section>
                <div>
                     <p class="parrafo">80.000 POR HORA</p>
                </div>
            </div>
            <div class="caja caja8">
                   <h4>TAEBO</h4>
                <section>
                     <img src="../img/grupales.jpeg" alt="GRUPALES" class="img-grupal">
                </section>
                <div>
                   <p class="parrafo">80.000 POR HORA</p>
                </div>
            </div>
            
            <div class="caja caja9">
                   <h4>RUMBA</h4>
                <section>
                     <img src="../img/RUMBA.jpeg" alt="RUMBA" class="img-grupal">
                </section>
                <div>
                     <p class="parrafo">80.000 POR HORA</p>
                </div>
            </div>
        </div>
        </section>
    </section>
     
</main>
  <footer class="footer">
    <div>
        <a href="./views/contact.html">SUBSCRIPTION</a>
    </div>
    <div class="redes">
        <a href="https://tiktok.com/" target="_blank">
            <img src="../img/tiktok.png" alt="TikTok" height="18px">
        </a>
        <a href="https://youtube.com/" target="_blank">
            <img src="../img/youtube.png" alt="YouTube" height="18px">
        </a>
        <a href="https://facebook.com/" target="_blank">
            <img src="../img/facebook.png" alt="Facebook" height="18px">
        </a>
        <a href="https://instagram.com/" target="_blank">
            <img src="../img/instagram.png" alt="Instagram" height="18px">
        </a>
    </div>
  </footer>
</body>
</html>